{% extends "layout.html" %}
{% block content %}
    <h1>This is a Project on sentimental analysis</h1>
    <form action="/home" method="POST">
      {{ form.hidden_tag() }}
      <div class="login">
          <div class="login-screen">
              <div class="form-group">
                  {{ form.reviewdata.label(class="form-control-label") }}
                      {{ form.reviewdata(class="form-control form-control-lg") }}
              </div>
              <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info") }}
              </div>
          </div>   
      </div>
    </form>
    <div class="login">
      <div class="login-screen">
        {% if results %}
          <h2>Sentiment</h2>
          <br>
          <div id="results">
            <table class="table table-striped" style="max-width: 300px;">
              <thead>
                <tr>
                  <th>Analysis</th>
                </tr>
              </thead>
  <!-- Required meta tags -->
              {% for result in results%}
                <tr>
                  <td>{{ result }}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}
      </div>
    </div>

{% endblock content %}